html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto; }

@media (min-width: 541px) {
  /* Big view stuff goes here.*/ }

@media (max-width: 540px) and (min-width: 400px) {
  /* Smaller view stuff goes here.*/ }

@media (max-width: 399px) {
  /* Stuff for really small views goes here.*/ }
