$skypink: rgba(255,157,171,1.0);
$robot: Roboto;
$darkGunmetal: #2C2E30;
$darkGunmetalLight: rgba(63,61,66,1.0);
$wolfColor: rgba(44, 62, 80,0.8);
$silver: rgba(127, 140, 141,1.0);
$darkPurple: rgba(153,50,204,1.0);
