.nobullets {
  list-style-type: none; }

.textaligncenter {
  text-align: center; }

.dissapear {
  display: none; }

.fingerhover {
  cursor: pointer; }

.Landing {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-right: 10%;
  padding-left: 10%;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #2C2E30; }
  @media (max-width: 540px) and (min-width: 400px) {
    .Landing {
      height: 100%;
      width: 100%;
      padding: 0 0 0 0; } }
  @media (max-width: 399px) {
    .Landing {
      height: 100%;
      width: 100%;
      padding: 0 0 0 0; } }

.projects {
  background-color: #2C2E30;
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 2%; }
  .projects a {
    text-decoration: none; }
  @media (max-width: 540px) and (min-width: 400px) {
    .projects {
      display: block; } }
  @media (max-width: 399px) {
    .projects {
      display: block; } }

.projects-item {
  background-color: #ff9dab;
  color: white;
  display: flex;
  display: -webkit-flex;
  position: relative;
  transition: all ease-in-out 500ms;
  overflow: hidden;
  justify-content: center;
  align-items: center; }
  @media (max-width: 540px) and (min-width: 400px) {
    .projects-item {
      display: block;
      height: 150px; } }
  @media (max-width: 399px) {
    .projects-item {
      display: block;
      height: 150px; } }
  .projects-item img {
    padding: 10px 10px 10px 10px; }
    @media (max-width: 540px) and (min-width: 400px) {
      .projects-item img {
        padding: 30px 30px 30px 30px;
        width: 100%;
        height: 100%; } }
    @media (max-width: 399px) {
      .projects-item img {
        padding: 30px 30px 30px 30px;
        width: 100%;
        height: 100%; } }
  .projects-item h6 {
    bottom: 0;
    left: 5px;
    position: absolute; }
  .projects-item.medium {
    grid-row: span 2;
    grid-column: span 2; }
  .projects-item.wide {
    grid-row: span 3;
    grid-column: span 2; }
  .projects-item.swordfish {
    background-color: darkslateblue; }
  .projects-item.swordfish:hover {
    background-color: rgba(72, 61, 139, 0.5);
    color: white; }
  .projects-item.endless {
    background-color: darkorchid; }
  .projects-item.endless:hover {
    background-color: rgba(153, 50, 204, 0.5);
    color: white; }
  .projects-item.mintcushions {
    background-color: orangered; }
  .projects-item.mintcushions:hover {
    background-color: rgba(255, 69, 0, 0.5);
    color: white; }
  .projects-item.blink {
    background-color: cornflowerblue; }
  .projects-item.blink:hover {
    background-color: rgba(100, 149, 237, 0.5);
    color: white; }
  .projects-item.art3d {
    background-color: #c0392b; }
  .projects-item.art3d:hover {
    background-color: rgba(192, 57, 43, 0.5);
    color: white; }
  .projects-item.art2d {
    background-color: #16a085; }
  .projects-item.art2d:hover {
    background-color: rgba(22, 160, 133, 0.5);
    color: white; }
  .projects-item.gameworld {
    background-color: #f39c12; }
  .projects-item.gameworld:hover {
    background-color: rgba(243, 156, 18, 0.5);
    color: white; }
  .projects-item.armor {
    background-color: #8bc34a; }
  .projects-item.armor:hover {
    background-color: rgba(139, 195, 74, 0.5);
    color: white; }
  .projects-item.winter {
    background-color: #f64747; }
  .projects-item.winter:hover {
    background-color: rgba(246, 71, 71, 0.5);
    color: white; }

.footer {
  text-align: center;
  margin: 0 auto;
  width: 40vw;
  height: 50vh;
  background: white;
  color: #2C2E30;
  margin-bottom: 5%;
  background-color: #ff9dab;
  position: relative; }
  @media (max-width: 540px) and (min-width: 400px) {
    .footer {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2%;
      position: relative;
      height: 150px;
      width: 100%;
      display: block; } }
  @media (max-width: 399px) {
    .footer {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2%;
      position: relative;
      height: 150px;
      width: 100%;
      display: block; } }

.container {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #ff9dab;
  height: 25%;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; }

.containerImage {
  height: 75%;
  width: 100%;
  overflow: hidden;
  padding: 1%;
  background-color: #3f3d42; }
  .containerImage svg {
    height: 100%;
    width: 100%; }

.displayList {
  position: absolute;
  bottom: 5px;
  left: 5px; }
  .displayList a {
    display: block;
    margin-bottom: 5px;
    color: #ff9dab;
    background-color: #2C2E30; }
  .displayList a:hover {
    color: darkorchid; }

.poweredBy {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  margin: 0 auto;
  width: 20vw;
  height: 10vh;
  background: #2C2E30; }
  .poweredBy img {
    width: 50%;
    height: 100%; }

.poweredContainer {
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%; }

.cls1 {
  fill: #fed6cb; }

.cls10, .cls12, .cls13, .cls2, .cls4, .cls7, .cls8 {
  fill: none; }

.cls3 {
  fill: #febfae; }

.cls10, .cls12, .cls14, .cls4, .cls7, .cls8 {
  stroke: #000; }

.cls10, .cls12, .cls13, .cls14, .cls4, .cls7, .cls8 {
  stroke-miterlimit: 10; }

.cls13, .cls4 {
  stroke-width: 8px; }

.cls5 {
  fill: #fee8e2; }

.cls6 {
  fill: #f4b4b0; }

.cls10, .cls12, .cls13, .cls14, .cls7, .cls8 {
  stroke-linecap: round; }

.cls7 {
  stroke-width: 4px; }

.cls14, .cls8 {
  stroke-width: 5px; }

.cls9 {
  fill: #fff; }

.cls10 {
  stroke-width: 7px; }

.cls11 {
  fill: #5b3e18; }

.cls12 {
  stroke-width: 6px; }

.cls13 {
  stroke: #fee8e2; }

.cls14 {
  fill: #026615; }

.cls15 {
  fill: #cca16d; }

.cls16 {
  fill: #7a5022; }

.cls17 {
  fill: #ad8f65; }

.cls18 {
  fill: #474642; }

.cls19 {
  fill: #574943; }

.cls20 {
  fill: #473b37; }

.cls21 {
  fill: #47494b; }

.cls22 {
  fill: #333230; }

.cls23 {
  fill: #3d3c39; }

.cls24 {
  fill: #282726; }

.cls25 {
  fill: #302825; }

.cls26 {
  fill: #565759; }

.cls27 {
  fill: #4f4e4a; }

.cls28 {
  fill: #c19a76; }

.cls29 {
  fill: #6d583b; }

.cls30 {
  fill: #8c6e4f; }

.skyrim_helm {
  opacity: 0; }

.vikingamanda {
  height: 100%;
  width: 100%; }

@keyframes helmetFlip {
  0% {
    transform: translateY(-100px);
    transform: rotate(-45deg);
    opacity: 0.5; }
  100% {
    transform: translateY(0px);
    transform: rotate(0deg);
    opacity: 1.0; } }

@-webkit-keyframes helmetFlip {
  0% {
    transform: translateY(-100px);
    transform: rotate(-45deg);
    opacity: 0.5; }
  100% {
    transform: translateY(0px);
    transform: rotate(0deg);
    opacity: 1.0; } }

@-moz-keyframes helmetFlip {
  0% {
    transform: translateY(-100px);
    transform: rotate(-45deg);
    opacity: 0.5; }
  100% {
    transform: translateY(0px);
    transform: rotate(0deg);
    opacity: 1.0; } }

.vikingamanda:hover .skyrim_helm {
  animation-name: helmetFlip 1s ease-in-out forwards;
  -webkit-animation: helmetFlip 1s ease-in-out forwards;
  -moz-animation: helmetFlip 1s ease-in-out forwards; }
