@media (min-width: 541px) {
  /* Big view stuff goes here.*/
  .Landing {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 10%;
    padding-left: 10%;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #2C2E30; }
  .projects {
    background-color: #2C2E30;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-bottom: 2%; }
    .projects a {
      text-decoration: none; }
  .projects-item {
    background-color: #00bfff;
    color: white;
    display: flex;
    position: relative;
    transition: all ease-in-out 500ms; }
    .projects-item img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      padding: 10px 10px 10px 10px; }
    .projects-item h6 {
      bottom: 0;
      left: 5px;
      position: absolute; }
    .projects-item.medium {
      grid-row: span 2;
      grid-column: span 2; }
    .projects-item.wide {
      grid-row: span 3;
      grid-column: span 2; }
    .projects-item.swordfish {
      background-color: darkslateblue; }
    .projects-item.swordfish:hover {
      background-color: rgba(72, 61, 139, 0.5);
      color: white; }
    .projects-item.endless {
      background-color: darkorchid; }
    .projects-item.endless:hover {
      background-color: rgba(153, 50, 204, 0.5);
      color: white; }
    .projects-item.mintcushions {
      background-color: orangered; }
    .projects-item.mintcushions:hover {
      background-color: rgba(255, 69, 0, 0.5);
      color: white; }
    .projects-item.blink {
      background-color: cornflowerblue; }
    .projects-item.blink:hover {
      background-color: rgba(100, 149, 237, 0.5);
      color: white; }
    .projects-item.art3d {
      background-color: #c0392b; }
    .projects-item.art3d:hover {
      background-color: rgba(192, 57, 43, 0.5);
      color: white; }
    .projects-item.art2d {
      background-color: #16a085; }
    .projects-item.art2d:hover {
      background-color: rgba(22, 160, 133, 0.5);
      color: white; }
    .projects-item.gameworld {
      background-color: #f39c12; }
    .projects-item.gameworld:hover {
      background-color: rgba(243, 156, 18, 0.5);
      color: white; }
    .projects-item.armor {
      background-color: #8bc34a; }
    .projects-item.armor:hover {
      background-color: rgba(139, 195, 74, 0.5);
      color: white; }
    .projects-item.winter {
      background-color: #f64747; }
    .projects-item.winter:hover {
      background-color: rgba(246, 71, 71, 0.5);
      color: white; }
  .footer {
    text-align: center;
    margin: 0 auto;
    width: 40vw;
    height: 50vh;
    background: white;
    color: #2C2E30;
    margin-bottom: 5%;
    background-color: #00bfff;
    position: relative; }
    .footer .container {
      padding-top: 5%;
      padding-bottom: 5%;
      background-color: #00bfff;
      height: 25%;
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center; }
    .footer .containerImage {
      height: 75%;
      width: 100%;
      overflow: hidden;
      padding: 1%;
      background-color: #3f3d42; }
      .footer .containerImage svg {
        height: 100%;
        width: 100%; }
    .footer .displayList {
      position: absolute;
      bottom: 5px;
      left: 5px; }
      .footer .displayList a {
        display: block;
        margin-bottom: 5px;
        color: #00bfff;
        background-color: #2C2E30; }
      .footer .displayList a:hover {
        color: darkorchid; }
    .footer .poweredBy {
      margin-top: 5%;
      margin-bottom: 5%;
      text-align: center;
      margin: 0 auto;
      width: 20vw;
      height: 10vh;
      background: #2C2E30; }
      .footer .poweredBy img {
        width: 50%;
        height: 100%; }
    .footer .poweredContainer {
      height: 100%;
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%; }
    .footer .cls1 {
      fill: #fed6cb; }
    .footer .cls10, .footer .cls12, .footer .cls13, .footer .cls2, .footer .cls4, .footer .cls7, .footer .cls8 {
      fill: none; }
    .footer .cls3 {
      fill: #febfae; }
    .footer .cls10, .footer .cls12, .footer .cls14, .footer .cls4, .footer .cls7, .footer .cls8 {
      stroke: #000; }
    .footer .cls10, .footer .cls12, .footer .cls13, .footer .cls14, .footer .cls4, .footer .cls7, .footer .cls8 {
      stroke-miterlimit: 10; }
    .footer .cls13, .footer .cls4 {
      stroke-width: 8px; }
    .footer .cls5 {
      fill: #fee8e2; }
    .footer .cls6 {
      fill: #f4b4b0; }
    .footer .cls10, .footer .cls12, .footer .cls13, .footer .cls14, .footer .cls7, .footer .cls8 {
      stroke-linecap: round; }
    .footer .cls7 {
      stroke-width: 4px; }
    .footer .cls14, .footer .cls8 {
      stroke-width: 5px; }
    .footer .cls9 {
      fill: #fff; }
    .footer .cls10 {
      stroke-width: 7px; }
    .footer .cls11 {
      fill: #5b3e18; }
    .footer .cls12 {
      stroke-width: 6px; }
    .footer .cls13 {
      stroke: #fee8e2; }
    .footer .cls14 {
      fill: #026615; }
    .footer .cls15 {
      fill: #cca16d; }
    .footer .cls16 {
      fill: #7a5022; }
    .footer .cls17 {
      fill: #ad8f65; }
    .footer .cls18 {
      fill: #474642; }
    .footer .cls19 {
      fill: #574943; }
    .footer .cls20 {
      fill: #473b37; }
    .footer .cls21 {
      fill: #47494b; }
    .footer .cls22 {
      fill: #333230; }
    .footer .cls23 {
      fill: #3d3c39; }
    .footer .cls24 {
      fill: #282726; }
    .footer .cls25 {
      fill: #302825; }
    .footer .cls26 {
      fill: #565759; }
    .footer .cls27 {
      fill: #4f4e4a; }
    .footer .cls28 {
      fill: #c19a76; }
    .footer .cls29 {
      fill: #6d583b; }
    .footer .cls30 {
      fill: #8c6e4f; }
    .footer .skyrim_helm {
      opacity: 0; }
    .footer .vikingamanda {
      height: 100%;
      width: 100%; }
  @keyframes helmetFlip {
    0% {
      transform: translateY(-100px);
      transform: rotate(-45deg);
      opacity: 0.5; }
    100% {
      transform: translateY(0px);
      transform: rotate(0deg);
      opacity: 1.0; } }
    .footer .vikingamanda:hover .skyrim_helm {
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-name: helmetFlip;
      animation-duration: 1s; } }

@media (max-width: 540px) and (min-width: 400px) {
  /* Smaller view stuff goes here.*/
  .Landing {
    padding: 0 0 0 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #2C2E30; }
  .projects {
    background-color: #2C2E30;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-bottom: 2%; }
    .projects a {
      text-decoration: none; }
  .projects-item {
    background-color: #00bfff;
    color: white;
    display: flex;
    position: relative;
    transition: all ease-in-out 500ms; }
    .projects-item img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      padding: 30px 30px 30px 30px; }
    .projects-item h6 {
      bottom: 0;
      left: 5px;
      position: absolute; }
    .projects-item.medium {
      grid-row: span 2;
      grid-column: span 2; }
    .projects-item.wide {
      grid-row: span 3;
      grid-column: span 2; }
    .projects-item.swordfish {
      background-color: darkslateblue; }
    .projects-item.swordfish:hover {
      background-color: rgba(72, 61, 139, 0.5);
      color: white; }
    .projects-item.endless {
      background-color: darkorchid; }
    .projects-item.endless:hover {
      background-color: rgba(153, 50, 204, 0.5);
      color: white; }
    .projects-item.mintcushions {
      background-color: orangered; }
    .projects-item.mintcushions:hover {
      background-color: rgba(255, 69, 0, 0.5);
      color: white; }
    .projects-item.blink {
      background-color: cornflowerblue; }
    .projects-item.blink:hover {
      background-color: rgba(100, 149, 237, 0.5);
      color: white; }
    .projects-item.art3d {
      background-color: #c0392b; }
    .projects-item.art3d:hover {
      background-color: rgba(192, 57, 43, 0.5);
      color: white; }
    .projects-item.art2d {
      background-color: #16a085; }
    .projects-item.art2d:hover {
      background-color: rgba(22, 160, 133, 0.5);
      color: white; }
    .projects-item.gameworld {
      background-color: #f39c12; }
    .projects-item.gameworld:hover {
      background-color: rgba(243, 156, 18, 0.5);
      color: white; }
    .projects-item.armor {
      background-color: #8bc34a; }
    .projects-item.armor:hover {
      background-color: rgba(139, 195, 74, 0.5);
      color: white; }
    .projects-item.winter {
      background-color: #f64747; }
    .projects-item.winter:hover {
      background-color: rgba(246, 71, 71, 0.5);
      color: white; }
  .footer {
    text-align: center;
    width: 100vw;
    height: 50vh;
    background: white;
    color: #2C2E30;
    margin-bottom: 2%;
    background-color: #00bfff;
    position: relative; }
    .footer .container {
      padding-top: 5%;
      padding-bottom: 5%;
      background-color: #00bfff;
      height: 25%;
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center; }
    .footer .containerImage {
      height: 75%;
      width: 100%;
      overflow: hidden;
      padding: 1%;
      background-color: #3f3d42; }
      .footer .containerImage svg {
        height: 100%;
        width: 100%; }
    .footer .displayList {
      position: absolute;
      bottom: 5px;
      left: 5px; }
      .footer .displayList a {
        display: block;
        margin-bottom: 5px;
        color: #00bfff;
        background-color: #2C2E30; }
      .footer .displayList a:hover {
        color: darkorchid; }
    .footer .poweredBy {
      margin-top: 5%;
      margin-bottom: 5%;
      text-align: center;
      margin: 0 auto;
      width: 20vw;
      height: 10vh;
      background: #2C2E30; }
      .footer .poweredBy img {
        width: 50%;
        height: 100%; }
    .footer .poweredContainer {
      height: 100%;
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%; }
    .footer .cls1 {
      fill: #fed6cb; }
    .footer .cls10, .footer .cls12, .footer .cls13, .footer .cls2, .footer .cls4, .footer .cls7, .footer .cls8 {
      fill: none; }
    .footer .cls3 {
      fill: #febfae; }
    .footer .cls10, .footer .cls12, .footer .cls14, .footer .cls4, .footer .cls7, .footer .cls8 {
      stroke: #000; }
    .footer .cls10, .footer .cls12, .footer .cls13, .footer .cls14, .footer .cls4, .footer .cls7, .footer .cls8 {
      stroke-miterlimit: 10; }
    .footer .cls13, .footer .cls4 {
      stroke-width: 8px; }
    .footer .cls5 {
      fill: #fee8e2; }
    .footer .cls6 {
      fill: #f4b4b0; }
    .footer .cls10, .footer .cls12, .footer .cls13, .footer .cls14, .footer .cls7, .footer .cls8 {
      stroke-linecap: round; }
    .footer .cls7 {
      stroke-width: 4px; }
    .footer .cls14, .footer .cls8 {
      stroke-width: 5px; }
    .footer .cls9 {
      fill: #fff; }
    .footer .cls10 {
      stroke-width: 7px; }
    .footer .cls11 {
      fill: #5b3e18; }
    .footer .cls12 {
      stroke-width: 6px; }
    .footer .cls13 {
      stroke: #fee8e2; }
    .footer .cls14 {
      fill: #026615; }
    .footer .cls15 {
      fill: #cca16d; }
    .footer .cls16 {
      fill: #7a5022; }
    .footer .cls17 {
      fill: #ad8f65; }
    .footer .cls18 {
      fill: #474642; }
    .footer .cls19 {
      fill: #574943; }
    .footer .cls20 {
      fill: #473b37; }
    .footer .cls21 {
      fill: #47494b; }
    .footer .cls22 {
      fill: #333230; }
    .footer .cls23 {
      fill: #3d3c39; }
    .footer .cls24 {
      fill: #282726; }
    .footer .cls25 {
      fill: #302825; }
    .footer .cls26 {
      fill: #565759; }
    .footer .cls27 {
      fill: #4f4e4a; }
    .footer .cls28 {
      fill: #c19a76; }
    .footer .cls29 {
      fill: #6d583b; }
    .footer .cls30 {
      fill: #8c6e4f; }
    .footer .skyrim_helm {
      opacity: 0; }
    .footer .vikingamanda {
      height: 100%;
      width: 100%; }
  @keyframes helmetFlip {
    0% {
      transform: translateY(-100px);
      transform: rotate(-45deg);
      opacity: 0.5; }
    100% {
      transform: translateY(0px);
      transform: rotate(0deg);
      opacity: 1.0; } }
    .footer .vikingamanda:hover .skyrim_helm {
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-name: helmetFlip;
      animation-duration: 1s; } }

@media (max-width: 399px) {
  /* Stuff for really small views goes here.*/
  .Landing {
    padding: 0 0 0 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #2C2E30; }
  .projects {
    background-color: #2C2E30;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-bottom: 2%; }
    .projects a {
      text-decoration: none; }
  .projects-item {
    background-color: #00bfff;
    color: white;
    display: flex;
    position: relative;
    transition: all ease-in-out 500ms; }
    .projects-item img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      padding: 30px 30px 30px 30px; }
    .projects-item h6 {
      bottom: 0;
      left: 5px;
      position: absolute; }
    .projects-item.medium {
      grid-row: span 2;
      grid-column: span 2; }
    .projects-item.wide {
      grid-row: span 3;
      grid-column: span 2; }
    .projects-item.swordfish {
      background-color: darkslateblue; }
    .projects-item.swordfish:hover {
      background-color: rgba(72, 61, 139, 0.5);
      color: white; }
    .projects-item.endless {
      background-color: darkorchid; }
    .projects-item.endless:hover {
      background-color: rgba(153, 50, 204, 0.5);
      color: white; }
    .projects-item.mintcushions {
      background-color: orangered; }
    .projects-item.mintcushions:hover {
      background-color: rgba(255, 69, 0, 0.5);
      color: white; }
    .projects-item.blink {
      background-color: cornflowerblue; }
    .projects-item.blink:hover {
      background-color: rgba(100, 149, 237, 0.5);
      color: white; }
    .projects-item.art3d {
      background-color: #c0392b; }
    .projects-item.art3d:hover {
      background-color: rgba(192, 57, 43, 0.5);
      color: white; }
    .projects-item.art2d {
      background-color: #16a085; }
    .projects-item.art2d:hover {
      background-color: rgba(22, 160, 133, 0.5);
      color: white; }
    .projects-item.gameworld {
      background-color: #f39c12; }
    .projects-item.gameworld:hover {
      background-color: rgba(243, 156, 18, 0.5);
      color: white; }
    .projects-item.armor {
      background-color: #8bc34a; }
    .projects-item.armor:hover {
      background-color: rgba(139, 195, 74, 0.5);
      color: white; }
    .projects-item.winter {
      background-color: #f64747; }
    .projects-item.winter:hover {
      background-color: rgba(246, 71, 71, 0.5);
      color: white; }
  .footer {
    text-align: center;
    width: 100vw;
    height: 50vh;
    background: white;
    color: #2C2E30;
    margin-bottom: 2%;
    background-color: #00bfff;
    position: relative; }
    .footer .container {
      padding-top: 5%;
      padding-bottom: 5%;
      background-color: #00bfff;
      height: 25%;
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center; }
    .footer .containerImage {
      height: 75%;
      width: 100%;
      overflow: hidden;
      padding: 1%;
      background-color: #3f3d42; }
      .footer .containerImage svg {
        height: 100%;
        width: 100%; }
    .footer .displayList {
      position: absolute;
      bottom: 5px;
      left: 5px; }
      .footer .displayList a {
        display: block;
        margin-bottom: 5px;
        color: #00bfff;
        background-color: #2C2E30; }
    .footer .poweredBy {
      margin-top: 5%;
      margin-bottom: 5%;
      text-align: center;
      margin: 0 auto;
      width: 20vw;
      height: 10vh;
      background: #2C2E30; }
      .footer .poweredBy img {
        width: 50%;
        height: 100%; }
    .footer .poweredContainer {
      height: 100%;
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%; }
    .footer .cls1 {
      fill: #fed6cb; }
    .footer .cls10, .footer .cls12, .footer .cls13, .footer .cls2, .footer .cls4, .footer .cls7, .footer .cls8 {
      fill: none; }
    .footer .cls3 {
      fill: #febfae; }
    .footer .cls10, .footer .cls12, .footer .cls14, .footer .cls4, .footer .cls7, .footer .cls8 {
      stroke: #000; }
    .footer .cls10, .footer .cls12, .footer .cls13, .footer .cls14, .footer .cls4, .footer .cls7, .footer .cls8 {
      stroke-miterlimit: 10; }
    .footer .cls13, .footer .cls4 {
      stroke-width: 8px; }
    .footer .cls5 {
      fill: #fee8e2; }
    .footer .cls6 {
      fill: #f4b4b0; }
    .footer .cls10, .footer .cls12, .footer .cls13, .footer .cls14, .footer .cls7, .footer .cls8 {
      stroke-linecap: round; }
    .footer .cls7 {
      stroke-width: 4px; }
    .footer .cls14, .footer .cls8 {
      stroke-width: 5px; }
    .footer .cls9 {
      fill: #fff; }
    .footer .cls10 {
      stroke-width: 7px; }
    .footer .cls11 {
      fill: #5b3e18; }
    .footer .cls12 {
      stroke-width: 6px; }
    .footer .cls13 {
      stroke: #fee8e2; }
    .footer .cls14 {
      fill: #026615; }
    .footer .cls15 {
      fill: #cca16d; }
    .footer .cls16 {
      fill: #7a5022; }
    .footer .cls17 {
      fill: #ad8f65; }
    .footer .cls18 {
      fill: #474642; }
    .footer .cls19 {
      fill: #574943; }
    .footer .cls20 {
      fill: #473b37; }
    .footer .cls21 {
      fill: #47494b; }
    .footer .cls22 {
      fill: #333230; }
    .footer .cls23 {
      fill: #3d3c39; }
    .footer .cls24 {
      fill: #282726; }
    .footer .cls25 {
      fill: #302825; }
    .footer .cls26 {
      fill: #565759; }
    .footer .cls27 {
      fill: #4f4e4a; }
    .footer .cls28 {
      fill: #c19a76; }
    .footer .cls29 {
      fill: #6d583b; }
    .footer .cls30 {
      fill: #8c6e4f; }
    .footer .skyrim_helm {
      opacity: 0; }
    .footer .vikingamanda {
      height: 100%;
      width: 100%; }
  @keyframes helmetFlip {
    0% {
      transform: translateY(-100px);
      transform: rotate(-45deg);
      opacity: 0.5; }
    100% {
      transform: translateY(0px);
      transform: rotate(0deg);
      opacity: 1.0; } }
    .footer .vikingamanda:hover .skyrim_helm {
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-name: helmetFlip;
      animation-duration: 1s; } }
