@import "Colors.scss";
@import "Transforms.scss";


  .ProjectHub {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 5% 5% 5% 5%;

    @include media("(max-width: 540px) and (min-width: 400px)"){
    padding: 0 0 0 0;
    }
    @include media("(max-width: 399px)"){
    padding: 0 0 0 0;
    }
  }
  .ProjectDescription{
    width: 100%;
    height: 25%;
    text-align: center;
    background-color: $wolfColor;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    h3{
      padding-top: 1%;
    }

    @include media("(max-width: 540px) and (min-width: 400px)"){
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    }
    @include media("(max-width: 399px)"){
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    }
  }
  .ProjectDemo{
    width: 50%;
    height: 350px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1%;

    @include media("(max-width: 540px) and (min-width: 400px)"){
      width: 100%;
      height: 300px;
      text-align: center;
      padding-bottom: 0;
    }
    @include media("(max-width: 399px)"){
      width: 100%;
      height: 300px;
      text-align: center;
      padding-bottom: 0;
    }
  }
  .ProjectImageDisplay{
    position: fixed;
    width: 50%;
    height: 100%;
    padding: 5% 5% 5% 5%;
    background-color: $wolfColor;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:1000;

    @include media("(max-width: 540px) and (min-width: 400px)"){
      padding: 5% 5% 5% 5%;
      width: 100%;
      height: 100%;
    }
    @include media("(max-width: 399px)"){
      padding: 5% 5% 5% 5%;
      width: 100%;
      height: 100%;
    }

    button{
      position: fixed;
      bottom: 5px;
      right: 5px;
      color: $skypink;
      background-color: $darkGunmetal;
    }
    button:hover{
      color: $darkPurple;
    }

  }
  .imageDisplay{
    width:  100%;
    height: 100%;
  }
  .list-group-item{
    background-color: white;
  }
